@import url('screen.css');

#infobox img { width: 100% }

#results ul,
#facets ul {
  list-style-type: none;
}

#results li {
  border-bottom: 1px solid #E1E1E1;
  padding: 10px;
  margin: 0 -8px;

}

.on a {
	color:#fff;
	background:#369;
	text-decoration:none;
}

.categories a {
  /*
  text-decoration: none;
  */
}
.category_on a {
	/*color:#fff;*/
  /*
  font-weight: bold;
  */
	text-decoration:none;

  /* For now, disable "turn off this facet" from here; non-intuitive */
  pointer-events: none;
  cursor: default;
}
