@import url('screen.css');

#infobox img { width: 100% }

#results ul,
#facets ul {
  list-style-type: none;
}

#results li {
  border-bottom: 1px solid #E1E1E1;
  padding: 10px;
  margin: 0 -8px;

}

#facets li.on a {
	color:#fff;
	background:#369;
	text-decoration:none;
}
